SQLALCHEMY_DATABASE_URI = 'postgresql:///spacechem'
SECRET_KEY = 'secret for session encryption'
UPLOADS_DEFAULT_DEST = '/home/rx/upload'
AWS_ACCESS_KEY_ID = 'no emails out'
AWS_SECRET_ACCESS_KEY = 'no emails out'
AWS_REGION = 'us-west-2'
FROM_EMAIL_ADDRESS = 'from@spacechem.net'
SRV_NAME = 'spacechem.net'
GA_ID = 'Google Analytics Tracking id'
